* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../img/Фон.png") no-repeat center center fixed;
  background-size: cover;
}
.header-menu-shadow {
  width: 100%;
  height: 60px;
  background-color: #00000060;
  position: absolute;
  z-index: 2;
}

h1,
.svg-logo,
.header-link-log,
.header-link-sign,
.header-link {
  z-index: 3;
  position: relative;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
header a {
  color: #01813f;
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: 5px;
  margin-left: 5px;
}
.header-link {
    display: flex;
    align-items: center;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-right: 7%;
  padding-top: 18px;
}
.calendar{
    margin-right: 30px;
}
h1 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  padding-left: 7%;
  padding-top: 18px;
}
h1:hover {
  color: #01813f;
}
.form-field-input {
  width: 100%;
  height: 45px;
  color: #bebebe;
  font-size: 14px;
  line-height: 14px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  padding-left: 20px;
}

.register-form-conteiner {
  max-width: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding-left: 5%;
  padding-right: 5%;
}
.form-title {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
h2 {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 20px;
  color: #434343;
  line-height: 20px;
}
.green-square{
    position: absolute;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    left: 443px;
}
.form-title-link {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  color: #01813f;
  line-height: 14px;
}
.form-field {
  margin-bottom: 15px;
}
.checkbox {
  margin-bottom: 15px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox-link {
  text-decoration: none;
  color: #3cb878;
}
.button {
  display: block;
  height: 45px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.button:hover {
  background: #01813f;
}

.divider:before,
.divider:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #f2f2f2;
}
.divider:before {
  right: 55%;
  left: 0;
}

.divider:after {
  left: 55%;
  right: 0;
}
.divider {
  display: flex;
  justify-content: center;
  position: relative;
  color: #848484;
  margin-top: 30px;
  margin-bottom: 10px;
}
.form-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.facebook {
  width: 48%;
  height: 48px;
  background: #305db8;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 16px;
}
.google {
  width: 48%;
  height: 48px;
  background: #df4a32;
  margin-left: 5px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 16px;
}
.facebook:hover {
  background: #022263;
}
.google:hover {
  background: #ab1f09;
}
